[submodule "submodules/jellybeans.vim"]
	path = submodules/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/mopkai.vim"]
	path = submodules/mopkai.vim
	url = https://github.com/mopp/mopkai.vim.git
[submodule "submodules/skittles_berry"]
	path = submodules/skittles_berry
	url = https://github.com/shawncplus/skittles_berry.git
[submodule "submodules/vim-abolish"]
	path = submodules/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "submodules/vim-unimpaired"]
	path = submodules/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
